
@font-face {
    font-family: 'Proxima Nova Light'; /* Имя шрифта */
    src: url("../fonts/ProximaNova-Light.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Proxima Nova Regular'; /* Имя шрифта */
    src: url("../fonts/ProximaNova-Regular.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Proxima Nova Semibold'; /* Имя шрифта */
    src: url("../fonts/ProximaNova-Semibold.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Proxima Nova Bold'; /* Имя шрифта */
    src: url("../fonts/ProximaNova-Bold.woff"); /* Путь к файлу со шрифтом */
   }   







@font-face {
    font-family: 'Fira Sans Condensed Regular'; /* Имя шрифта */
    src: url("../fonts/FiraSansCondensed-Regular.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Fira Sans Condensed Medium'; /* Имя шрифта */
    src: url("../fonts/FiraSansCondensed-Medium.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Fira Sans Extra Condensed Medium'; /* Имя шрифта */
    src: url("../fonts/FiraSansExtraCondensed-Medium.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'OpenSans-Regular'; /* Имя шрифта */
    src: url("../fonts/OpenSans-Regular.ttf"); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'OpenSans-Light'; /* Имя шрифта */
    src: url("../fonts/OpenSans-Light.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'OpenSans-Bold'; /* Имя шрифта */
    src: url("../fonts/OpenSans-Bold.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Fira Sans Extra Condensed Medium'; /* Имя шрифта */
    src: url("../fonts/FiraSansExtraCondensed-Medium.woff"); /* Путь к файлу со шрифтом */
   }

