
/* sizes */
$break-small: 320px;
$break-large: 1200px;
/* Colors */

/* Fonts */
$fall-back-font: 'Ubuntu', Arial, sans-serif;
$PNL: 'Proxima Nova Light', $fall-back-font;
$PNR: 'Proxima Nova Regular', $fall-back-font;
$PNSB: 'Proxima Nova Semibold', $fall-back-font;
$PNB: 'Proxima Nova Bold', $fall-back-font;
/* $sfcR: 'Fira Sans Condensed Regular', $fall-back-font;
$sfcM: 'Fira Sans Condensed Medium', $fall-back-font; using
$sfecM: 'Fira Sans Extra Condensed Medium', $fall-back-font;
$osR: 'OpenSans-Regular', $fall-back-font;
$osL: 'OpenSans-Light', $fall-back-font;
$osB: 'OpenSans-Bold', $fall-back-font; */