body {
	background-image: url(../img/intermediately/page-product.png);
    background-position-x: 222px;
    background-repeat: no-repeat;
    background-position-y: top;


}
* {
	margin:0px;
	padding: 0px;
}
*:focus {
    outline: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: none;
}


/* Bootstrap */
.no-padding {
	padding: 0;
}
.no-l-padding {
	padding-left: 0px;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
.cole {
  flex: 1;
}

/* General Elements */
	/* breadcrumbs */
@media (min-width: 1200px) {
	.breadcrumbs {
		& .container {
			max-width: 1244px;
		}
	}
}
.breadcrumbs {
	margin-top: 16vh;
	&__item {
		&:nth-child(n+2) {
		    &:before {
			    display: inline-block;
			    content: "";
			    background-image: url(../img/items/arrow.svg);
			    background-size: cover;
			    height: 12px;
			    width: 12px;
			    background-repeat: no-repeat;
			    color: #e5e5e5;
			    opacity: .3;
			    margin-right: 30px;
			    margin-left: 23px;
		    }    
		}
		& a {
			font-family: $PNL;
			color: #3e3b3c;
			opacity: 0.7;
			text-decoration: none;
		}
	}
}

/* Main Page */
/* MainPage First section */

/* MainPage Second section */
.about-infrastructure {
	&_cards {
		margin-top: 11vh;
	}	
}
.infrastructure-card {
	position: relative;
	&__title {
	}
	&__heading {
		font-family: $PNSB;
		font-size: 22px;
		color:#cbcbcb;
	}
	&__subtitle {
		margin-top: 1vh;
		margin-bottom: 6.4vh;
		& p {
			font-family: $PNL;
			font-size: 16px;
			line-height: 25px;
			color: #9c9b9b;
		}
	}
	&__price {
		position: absolute;
		bottom: 0;
		left:0;
		& span {
			font-size: 16px;
			font-family: $PNL;
			color: #9c9b9b;
		}
	}
}
/* MainPage Third section */
.popular-products__cards {
	margin-top: 3.8vh;
}
.popular-products__title {
	margin-top: 11vh;
}
.popular-products__heading {
	font-family:$PNR;
	color: #3e3b3c;
	font-size: 40px;
}

.product-card {
	position: relative;
	&__picture {
		border-radius: 14px;
		background-size: cover;
		height: 240px;
		width:100%;
		position: relative;
		overflow: hidden;
	}
	&__sub-picture {
	    position: absolute;
	    height: 98px;
	    width: 83px;
	    bottom: -50px;
	    right: 0px;
	}
	&__body {
		margin-bottom: 7.3vh; 
	}
	&__title {
		margin-top: 1.8vh;
	}
	&__heading {
		font-family: $PNSB;
		font-size: 20px;
		color: #3e3b3c;
		line-height: 24px;
	}
	&__favorite {
		& svg {
			height: 20px;
 			width: auto;
 			stroke:#3e3b3c;
 			transition: 0.4s;
		}
	}
	&__specifications {
		margin-top: 4px;
	}
	&__item {
		margin-top: 2px;
	}
	&__item-name {
		font-family: $PNL;
		font-size: 14px;
		color: #8c8c8c;
	}
	&__item-number {
		font-family: $PNL;
		font-size: 14px;
		color: #8c8c8c;	
	}
	&__footer {
		position: absolute;
	    bottom: 0;
	    width: 100%;
	}
	&__price {
		font-family: $PNSB;
		font-size: 20px;
		color: #3e3b3c;
		& i {
			color: #3e3b3c;
		}
		& svg {
			color: #3e3b3c;
			height: 16px;	
		}
	}
	&__add-button {
		& svg {
			background-color: #209bf2;
		    width: 54px;
		    height: 54px;
		    border-radius: 50%;
		    text-align: center;
		    line-height: 100px;
		    vertical-align: middle;
		    padding: 11px;
		    color: #fff;
		}
	}
}
/* MainPage Fourth section */
.mp-printers {
	&__title {
		margin-top: 13vh;
	}
	&__heading {
		font-family:$PNR;
		color: #3e3b3c;
		font-size: 40px;
	}
	&__button {
		& a {
			display: inline-block;
		    font-family: Proxima Nova Light,Ubuntu,Arial,sans-serif;
		    font-size: 16px;
		    color: #3e3b3c;
		    border: 1px solid #c7c6c6;
		    padding: 9px 18px 9px 23px;
		    border-radius: 4px;
			&:hover {
				text-decoration: none;

			}
		}
	}
	&__cards {
		margin-top: 3.8vh;
	}
}



/* MainPage Fifth section */
.mp-consumables {
	&__title {
		margin-top: 13vh;
	}
	&__heading {
		font-family:$PNR;
		color: #3e3b3c;
		font-size: 40px;
	}
	&__button {
		& a {
			display: inline-block;
		    font-family: Proxima Nova Light,Ubuntu,Arial,sans-serif;
		    font-size: 16px;
		    color: #3e3b3c;
		    border: 1px solid #c7c6c6;
		    padding: 9px 18px 9px 23px;
		    border-radius: 4px;
			&:hover {
				text-decoration: none;

			}
		}
	}
	&__cards {
		margin-top: 3.8vh;
	}
}
/* MainPage Sixth section */
.mp-secondary {
	background-color: #eef3f9;
	
	padding-bottom: 10.5vh;
	&__wrapper {
		margin-top: 10vh;
	}
	&__title {
		margin-top: 8.4vh;
	}
	&__heading {
		font-family: $PNR;
		font-size: 40px;
		color: #3e3b3c;
	}
	&__subtitle {
		margin-top:2vh;
		padding-right: 6vh; /* For Desctop */
		& p {
			font-family: $PNL;
			font-size: 16px;
			line-height: 25px;
			color: #939498;
		}
	}
	&__body {
		padding-top: 25px;
	}
	&__item {
		margin-top: 2px;
	}
	&__button {
		margin-top: 40px;
		& a {
			font-family: $PNR;
			font-size: 16px;
			color: #fff;
			text-decoration: none;
			background-color: #209bf2;
			border-radius: 4px;
			padding: 17px 42px;
		}
	}
	&__item-heading {
		font-family: $PNSB;
		font-size: 20px;
		color: #3e3b3c;
	}
	&__item-subtitle {
		font-family: $PNL;
		color: #8c8c8c;
		font-size: 14px;
	}
	&__item-price {
		span {
			font-family:$PNSB;
			color: #3e3b3c;
			font-size: 20px;
		}
	}
	& .special-offset {
		margin-left: 3.53333%;
	}
	& .special-offset-second {
	    margin-left: 2.8%;
	}
	&__item-add {
		& svg {
		    width: 54px;
		    height: 54px;
		    border-radius: 50%;
		    text-align: center;
		    line-height: 100px;
		    vertical-align: middle;
		    padding: 11px;
		    color: #209bf2;
		    border:1px solid #209bf2;
		}
	}
}


/* MainPage Seventh section */
.hamcore-journal {
	&__title {
		margin-top: 7vh;
	}
	&__heading {
		font-family:$PNR;
		color: #3e3b3c;
		font-size: 40px;
	}
	&__button {
		& a {
			display: inline-block;
		    font-family: Proxima Nova Light,Ubuntu,Arial,sans-serif;
		    font-size: 16px;
		    color: #3e3b3c;
		    border: 1px solid #c7c6c6;
		    padding: 9px 18px 9px 23px;
		    border-radius: 4px;
			&:hover {
				text-decoration: none;

			}
		}
	}
	&__article-card {
		margin-top: 3.8vh;
	}
	&__first {
		position: relative;
	}
	&__wrapper {
		margin-top: -4px;
	}
	&__article-heading {
		font-family: $PNSB;
		font-size: 22px;
		color: #3e3b3c;
		line-height: 27px;
	}
	&__article-tags {
		margin-top: 4px;
		& ul {
			display: inline;
			& li {
				display: inline;
				list-style: none;
				font-family: $PNL;
				color: #8c8c8c;
				font-size: 14px;
			}
		}
	}
	&__article-publish-date {
		position: absolute;
		bottom: 0;
		& span {
			font-family: $PNL;
			font-size: 16px;
			color: #8c8c8c;
		}
	}
	&__article-preview-text {
		    padding-right: 78px; /* ONLY DESCTOP */
		p {
			font-family: $PNL;
			font-size: 16px;
			color: #9c9b9b;
			line-height: 29px;
			margin-bottom: 0px;
			& a {
				font-family: $PNL;
				color: #c2c2c2;
				font-size: 16px;
				line-height: 29px;
				text-decoration: underline;
			}
		}
	}
	&__atricle-preview {
	    max-width: 100%;
	    height: 100%;
	}
}
/* MainPage Eighth section */
.second-infrastructure {
	margin-bottom: 7.7vh;
	&__title {
		margin-top: 9vh;
	}
	&__heading {
		font-family: $PNR;
		font-size: 40px;
		color: #3e3b3c;
	}
	&__wrapper {
		margin-top: 4.2vh;
	}
	&__card-heading {
		font-family: $PNSB;
		color: #209bf2;
		font-size: 22px;
		line-height: 26px;
	}
	&__subtitle {
		margin-top: 0.7vh;
		p {
			font-size: 16px;
			font-family: $PNL;
			color: #939293;
			line-height: 25px;
			
		}
	}
}











/* Product Page */
.product-view {
	&__wrapper {
		padding-top: 44px;
	}
	&__slider-bar {
    	margin: -50px 0px;
	}
	&__bar-item {

		cursor: pointer;
		& img {
			width: 100%;
			height: auto;
			border-radius: 6px;
		}
	}
	&__slider {

	}
	&__slider-main {
		 overflow:hidden;
		 width: 100%;
	}
	&__heading {
		font-family: $PNR;
		font-size: 40px;
		color: #3e3b3c;
		line-height: 48px;
	}
	&__subtitle {
		margin-top: 14px;
		& p {
			font-family: $PNL;
			font-size: 14px;
			line-height: 22px;
			color: #8c8c8c;
		}
	}
	&__specifications-heading {
		font-family: $PNR;
		font-size: 16px;
		line-height: 22px;
		color: #3e3b3c;
	}
	&__specifications-items {
		margin-top: 7px;
	}
	&__specifications-item {
		font-family: $PNL;
		font-size: 14px;
		line-height: 19px;
		color: #8c8c8c;
	}
	&__price {
		margin-top: 20px;
		& span {
			font-family: $PNSB;
			font-size: 28px;
			color: #3e3b3c;
		}
	}
	&__buttons {
		margin-top: 25px;
	}
	&__favorite {
		margin-left: 40px;
		padding-top: 13px;
		& span {
			font-family: $PNR;
			color: #8c8c8c;
			font-size: 16px;
			margin-left: 20px;
		}
		& svg {
			height: 20px;
			color: #3e3b3c;
		}
	}
}
.basket-add-btn {
	cursor: pointer;
	background-color: #209bf2;
	padding: 16px 40px;
	border:none;
	font-family: $PNL;
	color: #fff;
	border-radius: 5px;
}
.use-example {
	margin-top: 50px;
	&__heading {
		font-family: $PNR;
		font-size: 30px;
		color: #3e3b3c;
	}
	&__gallery {
		margin-top: 26px;
	}
	&__gallery-item {
		margin-right: 15px;
		& img {
			height:111px; 
			width:auto;
			border-radius:6px;
			
		}
	}
}
/* .slider-bar > .product-view__bar-item:nth-child(2) {
	margin-top: 120px;
} */
.about-product {
	background-color: #f1f7fc;
	margin-top: 5.7vh;
	
	&__wrapper {
		padding-top: 3.4vh;
		padding-bottom: 7vh;
		width: 100%;
	}
	&__link {
		font-family: $PNL;
		font-size: 16px;
		color: #858789;
		border: none;
		border-bottom: 1px solid #f1f7fc;
		background-color: transparent;
		padding: 0.8rem 0rem;
		margin-right: 4rem;
		transition: .3s;
		&:hover {
			color: #209bf2;
		}
		&.active {
			font-family: $PNR;
			border: none;
			background-color: transparent;
			color: #209bf2;
			border-bottom: 1px solid #209bf2;
		}
		
	}
	&__tab-content {
		padding-top: 46px;
	}
	&__description {
		& p {
			font-family: $PNR;
			color: #8c8c8c;
			font-size: 16px;
			line-height: 22px;
		}
	}
	&__specifications-item {
		border-bottom: 1px solid #e7e7e7;
		padding-bottom: 24px;
		margin-top: 21px
	}
	&__specifications-name {
		font-family: $PNR;
		color: #8c8c8c;
		font-size: 16px;
		line-height: 22px;
	}
	&__specifications-type {
		font-family: $PNR;
		color: #8c8c8c;
		font-size: 16px;
		line-height: 22px;
	}
	&__accessories {
		margin-top: -22px;
	}
	&__accessories-item {
		margin-top: 20px;
	}
	&__accessories-picture {
		border-radius: 6px;
	}
	&__accessories-heading {
		font-family: $PNSB;
		color: #3e3b3c;
		font-size: 18px;
	}
	&__accessories-intro {
		font-family: $PNL;
		font-size: 14px;
		color: #8c8c8c;
	}
	&__accessories-price {
		font-family: $PNSB;
		font-size: 18px;
		color: #3e3b3c;
		text-align: center;
		margin: 0 auto;
	}
	&__accessories-counter {
		font-family: $PNSB;
		font-size: 16px;
		color: #231f20;
		& span:nth-child(2) {
			margin: 0 28px;
		}
		& span svg {
			height: 10px;
		}

	}
	&__accessories-add {
		margin: 0 auto;
		& svg {
			background-color: #209bf2;
		    width: 54px;
		    height: 54px;
		    border-radius: 50%;
		    text-align: center;
		    line-height: 100px;
		    vertical-align: middle;
		    padding: 11px;
		    color: #fff;
		}
	}
	&__accessories-favorite {
		margin: 0 auto;
		& svg {
			height: 20px;
 			width: auto;
 			stroke:#3e3b3c;
 			transition: 0.4s;
		}		
	}
}











/* Blog Page */

.journal {
	&__title {
		margin-top: 5.2vh;
	}
	&__wrapper {
		margin-top: 5.5vh;
	}
	&__button {
		margin-top: 7.3vh;
		margin-bottom: 8.3vh;
		& a {
			display: inline-block;
		    font-family: Proxima Nova Light,Ubuntu,Arial,sans-serif;
		    font-size: 16px;
		    color: #3e3b3c;
		    border: 1px solid #c7c6c6;
		    padding: 9px 18px 9px 23px;
		    border-radius: 4px;
			&:hover {
				text-decoration: none;

			}
		}
	}	
}






/* Footer */
.footer {
	background-color: #3d3c3c;

	&__wrapper {
	    padding-top: 5vh;
	}
	&__heading {
		font-family: $PNSB;
		font-size: 20px;
		color: #fff;
	}
	&__list {
		margin-top: 1vh;
		& ul {
			& li {
				list-style: none;
				& a {
					font-family: $PNL;
					font-size: 16px;
					color:#c2c2c2;
					line-height: 25px;
				}
			}
		}
	}
	&__contacts {
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		&::before {
  		    content: "";
		    background-image: url(../img/items/footer.png);
		    position: absolute;
		    width: 340px;
		    height: 230px;
		    background-size: contain;
		    background-repeat: no-repeat;
		    top: -68px;
		    left: -60px;
		    z-index: 1;
  		}
	}
	&__phone-number {
		z-index: 5;
		a {
			font-family: $PNSB;
			color: #fff;
			font-size: 28px;
		}
	}
	&__phone-comment {
		font-family: $PNL;
		font-size: 16px;
		line-height: 25px;
		color: #c2c2c2;
		z-index: 5;
	}
	&__mail {
		z-index: 5;
		margin-top: 1vh;
	}
	&__email a {
		font-family: $PNSB;
		color: #fff;
		text-decoration: none;
		font-size: 20px;
	}
	&__form {
		z-index: 5;
	    margin-top: 4vh;
	}
	&__label {
		background-color: #fff;
	    border-radius: 6px;
		overflow: hidden;
		& input {
			width: 90%;
		    color: #7f7f7f;
		    font-family: Proxima Nova Light,Ubuntu,Arial,sans-serif;
		    font-size: 14px;
		    padding: 9px;
		    padding-left: 20px;
		    border: none;
			&::placeholder{
				color:#7f7f7f;
				font-family: $PNL;
				font-size: 14px;
			}
		}
	}
	&__submit-btn {
		width:10%;
	    background: transparent;
	    border: none;
        padding-right: 30px;
		& svg {
			width: 15px;
			color: #5e5b5b;
		}
	}
	&__social-media {
		margin-top: 4.1vh;
		& ul {
			display: inline;
			& li {
				display: inline;
				list-style: none;
			    & a i {
			    	color: #dedede;
				    font-size: 1em;
				    width: 40px;
				    text-align: center;
				    line-height: 40px;
				    background: #666;
				    border-radius: 50%;

			    }
			}
		}
	}
	&__second-info {
		margin-top: -2.2vh;
		margin-bottom: 3vh;
	}
	&__company-info {
		margin-left: 10px;
	}
	&__company-heading {
		font-family: $PNSB;
		color: #fff;
		font-size: 20px;
	}
	&__company-subtitle {
		opacity: .6;
		color: #fff;
		font-size: 11px;
		font-family: $PNL;
		white-space: nowrap;
		margin-top: -5px;
	}
	&__about {
		margin-top: 1.4vh;
		& p {
			color: #848484;
			font-family: $PNL;
			font-size: 14px;
			line-height: 18px;
		}
	}
}
.footer__margin {
	margin-left: 2%;
}
.social-media-margin {
    margin-left: 16px;
}

/*	Footer END  */