<%= _.template(require('./../includes/header.html'))() %>


<section id="fhaf" class="fhaf-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="d-flex flex-column">
                <div class="fhaf-page__title">
                    Страница не найдена
                </div>
                <div class="fhaf-page__intro">
                    404
                </div>
                <div class="fhaf-page__subtitle">
                    Попробуйте найти, что вас интересует в каталоге<br><a href="#">перейдите в каталог</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html'))() %>