<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>

<section id="about-page" class="about-page">
	<div class="container">
		<div class="row">
			<div class="col-xl-10">
				<div class="about">
					<div class="about__heading">
						<div class="about__header">
							<img src="img/items/header-about.png" alt="">
						</div>
						<span class="about__title">
							Компания Hamcore
						</span>
					</div>
					<div class="about__body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, nobis placeat id repellat tempora voluptatem dolor, itaque aperiam consequatur harum aut voluptate iste, temporibus fuga enim atque impedit accusamus blanditiis pariatur explicabo saepe architecto!</p>
						<h4>Ключевые отличительные черты</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
						</p>
						<img src="img/items/article.png" alt="">
						<h4>Факторы ранжирования</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
						</p>
					</div>
				</div>
			</div>
		</div>
</section>

<%= _.template(require('./../includes/footer.html'))() %>