<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>

<section id="article-page" class="article-page">
	<div class="container">
		<div class="row">
			<div class="col-xl-10">
				<div class="article">
					<div class="article__heading">
						<span class="article__title">
							В чем преимущества принтеров Hamcore?
						</span>
						<div class="article__info d-flex flex-column flex-md-row">
							<span class="article__date">
								Опубликовано: 32 мая 1720 года
							</span>
							<span class="article__tags d-flex flex-column flex-md-row">
								<span>новости</span>
								<span>компании</span>
								<span>организации</span>
							</span>
						</div>
					</div>
					<div class="article__body">
						<h4>Ключевые отличительные черты</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
						</p>
						<img src="img/items/article.png" alt="">
						<h4>Факторы ранжирования</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article__recommendation">
			<div class="article__recommendation-title">
				Последние статьи
			</div>
			<!-- article card START -->
			<div class="hamcore-journal__article-card">
				<div class="row">
					<div class="col-12 col-md-7 col-lg-4 col-xl-4 d-flex">
						<div class="hamcore-journal__first cole">
							<div class="hamcore-journal__article-title">
								<span class="hamcore-journal__article-heading">Компания CANON запускает програмное обеспечение Printseght</span>
							</div>
							<div class="hamcore-journal__article-tags">
								<ul>
									<li>#новости,</li>
									<li>#комания,</li>
									<li>#организация,</li>
								</ul>
							</div>
							<div class="hamcore-journal__article-publish-date">
								<span>Опубликованно: 21 Августа 2019 года</span>
							</div> 
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 d-flex order-md-last">
						<div class="cole">
							<div class="hamcore-journal__article-preview-text">
								<p>Canon Solutions America, Inc.  объявила о запуске нового программного обеспечения Océ PrintSight, разработанного компанией Canon Solutions America, чтобы предоставить компаниям, работающим с печатью, инструмент для мониторинга принтеров Océ Arizo <a href="#">Читать далее...</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5 col-lg-3 col-xl-3 d-flex no-l-padding order-lg-last">
						<div class="cole">
							<div class="hamcore-journal__atricle-preview desktop">
								<a href="#"><img src="img/journal/first.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- article card END -->
			<!-- article card START -->
			<div class="hamcore-journal__article-card">
				<div class="row">
					<div class="col-12 col-md-7 col-lg-4 col-xl-4 d-flex">
						<div class="hamcore-journal__first cole">
							<div class="hamcore-journal__article-title">
								<span class="hamcore-journal__article-heading">Компания CANON запускает програмное обеспечение Printseght</span>
							</div>
							<div class="hamcore-journal__article-tags">
								<ul>
									<li>#новости,</li>
									<li>#комания,</li>
									<li>#организация,</li>
								</ul>
							</div>
							<div class="hamcore-journal__article-publish-date">
								<span>Опубликованно: 21 Августа 2019 года</span>
							</div> 
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 d-flex order-md-last">
						<div class="cole">
							<div class="hamcore-journal__article-preview-text">
								<p>Canon Solutions America, Inc.  объявила о запуске нового программного обеспечения Océ PrintSight, разработанного компанией Canon Solutions America, чтобы предоставить компаниям, работающим с печатью, инструмент для мониторинга принтеров Océ Arizo <a href="#">Читать далее...</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5 col-lg-3 col-xl-3 d-flex no-l-padding order-lg-last">
						<div class="cole">
							<div class="hamcore-journal__atricle-preview desktop">
								<a href="#"><img src="img/journal/first.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- article card END -->		
		</div>
	</div>
</section>

<%= _.template(require('./../includes/footer.html'))() %>