<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>
<main class="Site-content" id="fullpage">




<section id="journal" class="journal">
	<div class="container">		
		<div class="journal__title d-flex flex-row align-items-center">
			<span class="hamcore-journal__heading">Новости и статьи</span>
		</div>
		<div class="journal__wrapper">
			<!-- article card START -->
			<div class="hamcore-journal__article-card">
				<div class="row">
					<div class="col-12 col-md-7 col-lg-4 col-xl-4 d-flex">
						<div class="hamcore-journal__first cole">
							<div class="hamcore-journal__article-title">
								<a href="#">
									<span class="hamcore-journal__article-heading">Компания CANON запускает програмное обеспечение Printseght</span>
								</a>
							</div>
							<div class="hamcore-journal__article-tags">
								<ul>
									<li>#новости,</li>
									<li>#комания,</li>
									<li>#организация,</li>
								</ul>
							</div>
							<div class="hamcore-journal__article-publish-date">
								<span>Опубликованно: 21 Августа 2019 года</span>
							</div> 
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 d-flex order-md-last">
						<div class="cole">
							<div class="hamcore-journal__article-preview-text">
								<p>Canon Solutions America, Inc.  объявила о запуске нового программного обеспечения Océ PrintSight, разработанного компанией Canon Solutions America, чтобы предоставить компаниям, работающим с печатью, инструмент для мониторинга принтеров Océ Arizo <a href="#">Читать далее...</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5 col-lg-3 col-xl-3 d-flex no-l-padding order-lg-last">
						<div class="cole">
							<div class="hamcore-journal__atricle-preview desktop">
								<a href="#"><img src="img/journal/first.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- article card END -->
			<!-- article card START -->
			<div class="hamcore-journal__article-card">
				<div class="row">
					<div class="col-12 col-md-7 col-lg-4 col-xl-4 d-flex">
						<div class="hamcore-journal__first cole">
							<div class="hamcore-journal__article-title">
								<a href="#">
									<span class="hamcore-journal__article-heading">Компания CANON запускает програмное обеспечение Printseght</span>
								</a>
							</div>
							<div class="hamcore-journal__article-tags">
								<ul>
									<li>#новости,</li>
									<li>#комания,</li>
									<li>#организация,</li>
								</ul>
							</div>
							<div class="hamcore-journal__article-publish-date">
								<span>Опубликованно: 21 Августа 2019 года</span>
							</div> 
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 d-flex order-md-last">
						<div class="cole">
							<div class="hamcore-journal__article-preview-text">
								<p>Canon Solutions America, Inc.  объявила о запуске нового программного обеспечения Océ PrintSight, разработанного компанией Canon Solutions America, чтобы предоставить компаниям, работающим с печатью, инструмент для мониторинга принтеров Océ Arizo <a href="#">Читать далее...</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5 col-lg-3 col-xl-3 d-flex no-l-padding order-lg-last">
						<div class="cole">
							<div class="hamcore-journal__atricle-preview desktop">
								<a href="#"><img src="img/journal/first.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- article card END -->
			<!-- article card START -->
			<div class="hamcore-journal__article-card">
				<div class="row">
					<div class="col-12 col-md-7 col-lg-4 col-xl-4 d-flex">
						<div class="hamcore-journal__first cole">
							<div class="hamcore-journal__article-title">
								<a href="#">
									<span class="hamcore-journal__article-heading">Компания CANON запускает програмное обеспечение Printseght</span>
								</a>
							</div>
							<div class="hamcore-journal__article-tags">
								<ul>
									<li>#новости,</li>
									<li>#комания,</li>
									<li>#организация,</li>
								</ul>
							</div>
							<div class="hamcore-journal__article-publish-date">
								<span>Опубликованно: 21 Августа 2019 года</span>
							</div> 
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 d-flex order-md-last">
						<div class="cole">
							<div class="hamcore-journal__article-preview-text">
								<p>Canon Solutions America, Inc.  объявила о запуске нового программного обеспечения Océ PrintSight, разработанного компанией Canon Solutions America, чтобы предоставить компаниям, работающим с печатью, инструмент для мониторинга принтеров Océ Arizo <a href="#">Читать далее...</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5 col-lg-3 col-xl-3 d-flex no-l-padding order-lg-last">
						<div class="cole">
							<div class="hamcore-journal__atricle-preview desktop">
								<a href="#"><img src="img/journal/first.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- article card END -->
			<div class="journal__button d-flex justify-content-center">
				<a href="#">Показать больше</a>
			</div>
		</div>
	</div>
</section>

</main>


<%= _.template(require('./../includes/footer.html'))() %>