<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>

<section id="catalog" class="catalog">
	<div class="container">
		<div class="catalog__wrapper">
			<div class="row">
				<div class="col-xl-3">
					<div class="catalog-bar">
						<div class="catalog-bar__title d-flex flex-row">
							<span class="catalog-bar__refresh">
								<img src="img/svg/refresh.svg" alt="">
							</span>
							<span class="catalog-bar__heading">
								Все
							</span>
						</div>
						<div class="catalog-bar__list">
							<ul>
								<li>
									<div class="catalog-bar__list-icon ribbon-list"></div>	
									<a href="#">Текстильный</a>
								</li> 
								<li>
									<div class="catalog-bar__list-icon cake-list"></div>	
									<a href="#">Пищевой</a>
								</li>
								<li>
									<div class="catalog-bar__list-icon gift-list"></div>	
									<a href="#">Сувенирный</a>
								</li>
								<li>
									<div class="catalog-bar__list-icon award-list"></div>	
									<a href="#">УФ принтер</a>
								</li>
							</ul>
						</div>
						<div class="catalog-bar__price-title">
							<div class="catalog-bar__price-heading">
								Цены
							</div>
						</div>
						<div class="catalog-bar__price-slider">
							
						</div>
					</div>
				</div>
				<div class="col-xl-9">
					<div class="row">
						<!-- card -->
						<div class="col-12 col-sm-6 col-md-6 col-xl-4 d-flex">
							<div class="product-card cole">
								<div class="product-card__picture">
									<a href="#">
										<img src="img/products/first.png" alt="">
									</a>
									<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
									</div>
								</div>
								<div class="product-card__body">
									<div class="product-card__title d-flex flex-row">
										<a href="#">
											<span class="product-card__heading">Hamcoke Brookesia тексильный</span>	
										</a>
										<span class="product-card__favorite ml-auto">
											<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
										</span>
									</div>
									<div class="product-card__specifications">
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Цвета:</span>
											<span class="product-card__item-number ml-auto">245 цветов rgb</span>
										</div>
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Гарантия:</span>
											<span class="product-card__item-number ml-auto">3 года</span>
										</div>
									</div>
								</div>
								<div class="product-card__footer">
									<div class="d-flex flex-row align-items-center">
										<span class="product-card__price">
											130 000
											<img src="img/svg/ruble.svg" alt="">
										</span>
										<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
											<div class="tooltip-cart">
												<span class="tooltip-cart__add">Добавить в корзину</span>
												<span class="tooltip-cart__added">Добавлено в корзину</span>
												<span class="tooltip-cart__remove">Удалить из корзины</span>
											</div>
											<span class="product-card__add-button__svg" ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- card END-->
						<!-- card -->
						<div class="col-12 col-sm-6 col-md-6 col-xl-4 d-flex">
							<div class="product-card cole">
								<div class="product-card__picture">
									<a href="#">
										<img src="img/products/first.png" alt="">
									</a>
									<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
									</div>
								</div>
								<div class="product-card__body">
									<div class="product-card__title d-flex flex-row">
										<a href="#">
											<span class="product-card__heading">Hamcoke Brookesia тексильный</span>	
										</a>
										<span class="product-card__favorite ml-auto">
											<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
										</span>
									</div>
									<div class="product-card__specifications">
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Цвета:</span>
											<span class="product-card__item-number ml-auto">245 цветов rgb</span>
										</div>
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Гарантия:</span>
											<span class="product-card__item-number ml-auto">3 года</span>
										</div>
									</div>
								</div>
								<div class="product-card__footer">
									<div class="d-flex flex-row align-items-center">
										<span class="product-card__price">
											130 000
											<img src="img/svg/ruble.svg" alt="">
										</span>
										<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
											<div class="tooltip-cart">
												<span class="tooltip-cart__add">Добавить в корзину</span>
												<span class="tooltip-cart__added">Добавлено в корзину</span>
												<span class="tooltip-cart__remove">Удалить из корзины</span>
											</div>
											<span class="product-card__add-button__svg" ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- card END-->
						<!-- card -->
						<div class="col-12 col-sm-6 col-md-6 col-xl-4 d-flex">
							<div class="product-card cole">
								<div class="product-card__picture">
									<a href="#">
										<img src="img/products/first.png" alt="">
									</a>
									<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
									</div>
								</div>
								<div class="product-card__body">
									<div class="product-card__title d-flex flex-row">
										<a href="#">
											<span class="product-card__heading">Hamcoke Brookesia тексильный</span>	
										</a>
										<span class="product-card__favorite ml-auto">
											<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
										</span>
									</div>
									<div class="product-card__specifications">
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Цвета:</span>
											<span class="product-card__item-number ml-auto">245 цветов rgb</span>
										</div>
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Гарантия:</span>
											<span class="product-card__item-number ml-auto">3 года</span>
										</div>
									</div>
								</div>
								<div class="product-card__footer">
									<div class="d-flex flex-row align-items-center">
										<span class="product-card__price">
											130 000
											<img src="img/svg/ruble.svg" alt="">
										</span>
										<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
											<div class="tooltip-cart">
												<span class="tooltip-cart__add">Добавить в корзину</span>
												<span class="tooltip-cart__added">Добавлено в корзину</span>
												<span class="tooltip-cart__remove">Удалить из корзины</span>
											</div>
											<span class="product-card__add-button__svg" ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- card END-->
						<!-- card -->
						<div class="col-12 col-sm-6 col-md-6 col-xl-4 d-flex">
							<div class="product-card cole">
								<div class="product-card__picture">
									<a href="#">
										<img src="img/products/first.png" alt="">
									</a>
									<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
									</div>
								</div>
								<div class="product-card__body">
									<div class="product-card__title d-flex flex-row">
										<a href="#">
											<span class="product-card__heading">Hamcoke Brookesia тексильный</span>	
										</a>
										<span class="product-card__favorite ml-auto">
											<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
										</span>
									</div>
									<div class="product-card__specifications">
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Цвета:</span>
											<span class="product-card__item-number ml-auto">245 цветов rgb</span>
										</div>
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Гарантия:</span>
											<span class="product-card__item-number ml-auto">3 года</span>
										</div>
									</div>
								</div>
								<div class="product-card__footer">
									<div class="d-flex flex-row align-items-center">
										<span class="product-card__price">
											130 000
											<img src="img/svg/ruble.svg" alt="">
										</span>
										<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
											<div class="tooltip-cart">
												<span class="tooltip-cart__add">Добавить в корзину</span>
												<span class="tooltip-cart__added">Добавлено в корзину</span>
												<span class="tooltip-cart__remove">Удалить из корзины</span>
											</div>
											<span class="product-card__add-button__svg" ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- card END-->
						<!-- card -->
						<div class="col-12 col-sm-6 col-md-6 col-xl-4 d-flex">
							<div class="product-card cole">
								<div class="product-card__picture">
									<a href="#">
										<img src="img/products/first.png" alt="">
									</a>
									<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
									</div>
								</div>
								<div class="product-card__body">
									<div class="product-card__title d-flex flex-row">
										<a href="#">
											<span class="product-card__heading">Hamcoke Brookesia тексильный</span>	
										</a>
										<span class="product-card__favorite ml-auto">
											<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
										</span>
									</div>
									<div class="product-card__specifications">
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Цвета:</span>
											<span class="product-card__item-number ml-auto">245 цветов rgb</span>
										</div>
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Гарантия:</span>
											<span class="product-card__item-number ml-auto">3 года</span>
										</div>
									</div>
								</div>
								<div class="product-card__footer">
									<div class="d-flex flex-row align-items-center">
										<span class="product-card__price">
											130 000
											<img src="img/svg/ruble.svg" alt="">
										</span>
										<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
											<div class="tooltip-cart">
												<span class="tooltip-cart__add">Добавить в корзину</span>
												<span class="tooltip-cart__added">Добавлено в корзину</span>
												<span class="tooltip-cart__remove">Удалить из корзины</span>
											</div>
											<span class="product-card__add-button__svg" ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- card END-->
						<!-- card -->
						<div class="col-12 col-sm-6 col-md-6 col-xl-4 d-flex">
							<div class="product-card cole">
								<div class="product-card__picture">
									<a href="#">
										<img src="img/products/first.png" alt="">
									</a>
									<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
									</div>
								</div>
								<div class="product-card__body">
									<div class="product-card__title d-flex flex-row">
										<a href="#">
											<span class="product-card__heading">Hamcoke Brookesia тексильный</span>	
										</a>
										<span class="product-card__favorite ml-auto">
											<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
										</span>
									</div>
									<div class="product-card__specifications">
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Цвета:</span>
											<span class="product-card__item-number ml-auto">245 цветов rgb</span>
										</div>
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Гарантия:</span>
											<span class="product-card__item-number ml-auto">3 года</span>
										</div>
									</div>
								</div>
								<div class="product-card__footer">
									<div class="d-flex flex-row align-items-center">
										<span class="product-card__price">
											130 000
											<img src="img/svg/ruble.svg" alt="">
										</span>
										<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
											<div class="tooltip-cart">
												<span class="tooltip-cart__add">Добавить в корзину</span>
												<span class="tooltip-cart__added">Добавлено в корзину</span>
												<span class="tooltip-cart__remove">Удалить из корзины</span>
											</div>
											<span class="product-card__add-button__svg" ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- card END-->
						<!-- card -->
						<div class="col-12 col-sm-6 col-md-6 col-xl-4 d-flex">
							<div class="product-card cole">
								<div class="product-card__picture">
									<a href="#">
										<img src="img/products/first.png" alt="">
									</a>
									<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
									</div>
								</div>
								<div class="product-card__body">
									<div class="product-card__title d-flex flex-row">
										<a href="#">
											<span class="product-card__heading">Hamcoke Brookesia тексильный</span>	
										</a>
										<span class="product-card__favorite ml-auto">
											<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
										</span>
									</div>
									<div class="product-card__specifications">
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Цвета:</span>
											<span class="product-card__item-number ml-auto">245 цветов rgb</span>
										</div>
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Гарантия:</span>
											<span class="product-card__item-number ml-auto">3 года</span>
										</div>
									</div>
								</div>
								<div class="product-card__footer">
									<div class="d-flex flex-row align-items-center">
										<span class="product-card__price">
											130 000
											<img src="img/svg/ruble.svg" alt="">
										</span>
										<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
											<div class="tooltip-cart">
												<span class="tooltip-cart__add">Добавить в корзину</span>
												<span class="tooltip-cart__added">Добавлено в корзину</span>
												<span class="tooltip-cart__remove">Удалить из корзины</span>
											</div>
											<span class="product-card__add-button__svg" ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- card END-->
						<!-- card -->
						<div class="col-12 col-sm-6 col-md-6 col-xl-4 d-flex">
							<div class="product-card cole">
								<div class="product-card__picture">
									<a href="#">
										<img src="img/products/first.png" alt="">
									</a>
									<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
									</div>
								</div>
								<div class="product-card__body">
									<div class="product-card__title d-flex flex-row">
										<a href="#">
											<span class="product-card__heading">Hamcoke Brookesia тексильный</span>	
										</a>
										<span class="product-card__favorite ml-auto">
											<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
										</span>
									</div>
									<div class="product-card__specifications">
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Цвета:</span>
											<span class="product-card__item-number ml-auto">245 цветов rgb</span>
										</div>
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Гарантия:</span>
											<span class="product-card__item-number ml-auto">3 года</span>
										</div>
									</div>
								</div>
								<div class="product-card__footer">
									<div class="d-flex flex-row align-items-center">
										<span class="product-card__price">
											130 000
											<img src="img/svg/ruble.svg" alt="">
										</span>
										<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
											<div class="tooltip-cart">
												<span class="tooltip-cart__add">Добавить в корзину</span>
												<span class="tooltip-cart__added">Добавлено в корзину</span>
												<span class="tooltip-cart__remove">Удалить из корзины</span>
											</div>
											<span class="product-card__add-button__svg" ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- card END-->
						<!-- card -->
						<div class="col-12 col-sm-6 col-md-6 col-xl-4 d-flex">
							<div class="product-card cole">
								<div class="product-card__picture">
									<a href="#">
										<img src="img/products/first.png" alt="">
									</a>
									<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
									</div>
								</div>
								<div class="product-card__body">
									<div class="product-card__title d-flex flex-row">
										<a href="#">
											<span class="product-card__heading">Hamcoke Brookesia тексильный</span>	
										</a>
										<span class="product-card__favorite ml-auto">
											<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
										</span>
									</div>
									<div class="product-card__specifications">
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Цвета:</span>
											<span class="product-card__item-number ml-auto">245 цветов rgb</span>
										</div>
										<div class="product-card__item d-flex flex-row">
											<span class="product-card__item-name">Гарантия:</span>
											<span class="product-card__item-number ml-auto">3 года</span>
										</div>
									</div>
								</div>
								<div class="product-card__footer">
									<div class="d-flex flex-row align-items-center">
										<span class="product-card__price">
											130 000
											<img src="img/svg/ruble.svg" alt="">
										</span>
										<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
											<div class="tooltip-cart">
												<span class="tooltip-cart__add">Добавить в корзину</span>
												<span class="tooltip-cart__added">Добавлено в корзину</span>
												<span class="tooltip-cart__remove">Удалить из корзины</span>
											</div>
											<span class="product-card__add-button__svg" ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- card END-->


					</div>		
					<div class="catalog__pagination">
						<div class="row">
							<div class="col-xl-12 d-flex justify-content-center">
								<nav aria-label="Page navigation example">
								  <ul class="pagination">
								    <a class="pagination__item" href="#"><li class="pagination__link active">1</li></a>
								    <a class="pagination__item" href="#"><li class="pagination__link">2</li></a>
								    <a class="pagination__item" href="#"><li class="pagination__link">3</li></a>
								    <a class="pagination__item" href="#"><li class="pagination__link">4</li></a>
								    <a class="pagination__item" href="#"><li class="pagination__link">5</li></a>
								    <a class="pagination__item" href="#"><li class="pagination__link dots">...</li></a>
								    <a class="pagination__item" href="#"><li class="pagination__link last">8</li></a>
								  </ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<%= _.template(require('./../includes/footer.html'))() %>