<%= _.template(require('./../includes/header.html'))() %>

<main class="Site-content" id="fullpage">

		
<section id="" class="">
<!-- 		  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol> -->
	<div class="header-slider__wrapper">
		<!-- Controls -->
		<div class="header-slider__controls">
			<div class="header-slider__controller active">
				1
			</div>
			<div class="header-slider__controller">
				2
			</div>
			<div class="header-slider__controller">
				3
			</div>
			<div class="header-slider__controller active">
				4
			</div>
		</div>
		<!-- Slider -->
		<div class="header-slider">
			<div class="header-slider__item d-flex align-items-center" style="background-image: url(img/slider/2.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-10 col-md-6 col-lg-5 col-xl-5">
							<div class="header-slider__heading">
								<div class="d-flex flex-column">
									<span class="header-slider__title">
										<span>Новое поколение</span> принтеров
									</span>
									<span class="header-slider__subtitle">
										Текстильный планшетный принтер нового поколения для печати на тканевых поверхностях
									</span>
									<div class="header-slider__button">
										<a href="#">Все принтеры</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-slider__item d-flex align-items-center" style="background-image: url(img/slider/1.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-10 col-md-6 col-lg-5 col-xl-5">
							<div class="header-slider__heading">
								<div class="d-flex flex-column">
									<span class="header-slider__title">
										<span>Новое поколение</span> принтеров
									</span>
									<span class="header-slider__subtitle">
										Текстильный планшетный принтер нового поколения для печати на тканевых поверхностях
									</span>
									<div class="header-slider__button">
										<a href="#">Все принтеры</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-slider__item d-flex align-items-center" style="background-image: url(img/slider/2.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-10 col-md-6 col-lg-5 col-xl-5">
							<div class="header-slider__heading">
								<div class="d-flex flex-column">
									<span class="header-slider__title">
										<span>Новое поколение</span> принтеров
									</span>
									<span class="header-slider__subtitle">
										Текстильный планшетный принтер нового поколения для печати на тканевых поверхностях
									</span>
									<div class="header-slider__button">
										<a href="#">Все принтеры</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-slider__item d-flex align-items-center" style="background-image: url(img/slider/2.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-10 col-md-6 col-lg-5 col-xl-5">
							<div class="header-slider__heading">
								<div class="d-flex flex-column">
									<span class="header-slider__title">
										<span>Новое поколение</span> принтеров
									</span>
									<span class="header-slider__subtitle">
										Текстильный планшетный принтер нового поколения для печати на тканевых поверхностях
									</span>
									<div class="header-slider__button">
										<a href="#">Все принтеры</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>
</section>
<section id="about-infrastructure" class="about-infrastructure">
	<div class="container">
		<div class="about-infrastructure_cards">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="infrastructure-card cole">
						<div class="infrastructure-card__title">
							<span class="infrastructure-card__heading">Доступность</span>
						</div>
						<div class="infrastructure-card__subtitle">
							<p>Текстильный планшетный принтер нового покаления для печати на тканевых поверхностях</p>
						</div>
						<div class="infrastructure-card__price">
							<span>
								от 110 000 
								<span class="svg-ruble"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="infrastructure-card cole">
						<div class="infrastructure-card__title">
							<span class="infrastructure-card__heading">Доступность</span>
						</div>
						<div class="infrastructure-card__subtitle">
							<p>Текстильный планшетный принтер нового покаления для печати на тканевых поверхностях</p>
						</div>
						<div class="infrastructure-card__price">
							<span>
								от 110 000 
								<span class="svg-ruble"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="infrastructure-card cole">
						<div class="infrastructure-card__title">
							<span class="infrastructure-card__heading">Доступность</span>
						</div>
						<div class="infrastructure-card__subtitle">
							<p>Текстильный планшетный принтер нового покаления для печати на тканевых поверхностях</p>
						</div>
						<div class="infrastructure-card__price">
							<span>
								от 110 000 
								<span class="svg-ruble"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="infrastructure-card cole">
						<div class="infrastructure-card__title">
							<span class="infrastructure-card__heading">Доступность</span>
						</div>
						<div class="infrastructure-card__subtitle">
							<p>Текстильный планшетный принтер нового покаления для печати на тканевых поверхностях</p>
						</div>
						<div class="infrastructure-card__price">
							<span>
								от 110 000 
								<span class="svg-ruble"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="popular-products" class="popular-products">
	<div class="container">
		<div class="popular-products__title">
			<span class="popular-products__heading">Популярные товары</span>
		</div>
		<div class="popular-products__cards">
			<div class="row">
				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
									<div class="tooltip-cart">
										<div class="favorite-popup">
											Авторизуйтесь чтобы добавлять товары в избранное
										</div>
									</div>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->

				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->

				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->


				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->


			</div>
		</div>
	</div>
</section>


<section id="mp-printers" class="mp-printers">
	<div class="container">		
		<div class="mp-printers__title d-flex flex-row align-items-center">
			<span class="mp-printers__heading">Принтеры</span>
			<div class="mp-printers__button ml-auto desktop">
				<a href="#">Все принтеры</a>
			</div>
		</div>
		<div class="mp-printers__cards">
			<div class="row">

				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->

				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->


				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->



				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->

				<div class="col-12">
					<div class="mp-printers__button mobile d-flex justify-content-center">
						<a href="#">Все принтеры</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="mp-consumables" class="mp-consumables">
	<div class="container">		
		<div class="mp-consumables__title d-flex flex-row align-items-center">
			<span class="mp-consumables__heading">Расходники</span>
			<div class="mp-consumables__button ml-auto desktop">
				<a href="#">Все расходники</a>
			</div>
		</div>
		<div class="mp-printers__cards">
			<div class="row">
				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->
				
				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->

				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->

				<!-- card -->
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex">
					<div class="product-card cole">
						<div class="product-card__picture">
							<a href="#">
								<img src="img/products/first.png" alt="">
								<div class="product-card__sub-picture" style="background-image: url(img/products/first-type.png);">
								</div>
							</a>
						</div>
						<div class="product-card__body">
							<div class="product-card__title d-flex flex-row">
								<a href="#">
									<span class="product-card__heading">Hamcoke Brookesia тексильный</span>
								</a>
								<span class="product-card__favorite ml-auto">
									<span class="havet-account__btn-svg" onclick="this.classList.toggle('active')"></span>
								</span>
							</div>
							<div class="product-card__specifications">
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Цвета:</span>
									<span class="product-card__item-number ml-auto">245 цветов rgb</span>
								</div>
								<div class="product-card__item d-flex flex-row">
									<span class="product-card__item-name">Гарантия:</span>
									<span class="product-card__item-number ml-auto">3 года</span>
								</div>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="d-flex flex-row align-items-center">
								<span class="product-card__price">
									130 000
									<img src="img/svg/ruble.svg" alt="">
								</span>
								<div class="product-card__add-button basket-btn status ml-auto" onclick="this.classList.toggle('active')">
									<div class="tooltip-cart">
										<span class="tooltip-cart__add">Добавить в корзину</span>
										<span class="tooltip-cart__added">Добавлено в корзину</span>
										<span class="tooltip-cart__remove">Удалить из корзины</span>
									</div>
									<span class="product-card__add-button__svg" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- card END-->
				
				<div class="col-12">
					<div class="mp-consumables__button ml-auto mobile d-flex justify-content-center">
						<a href="#">Все расходники</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
<section id="mp-secondary" class="mp-secondary">
	<div class="mp-secondary__wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-6 col-xl-6">
					<div class="mp-secondary__options">
						<div class="mp-secondary__title">
							<span class="mp-secondary__heading">Опции</span>
						</div>
						<div class="mp-secondary__subtitle">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis iste maiores sapiente modi, praesentium aut repellendus, ipsa, nesciunt incidunt architecto consectetur iure officia tempore placeat adipisci veritatis iusto quaerat possimus.</p>
						</div>
						<div class="mp-secondary__body">
							<!-- item -->
							<div class="mp-secondary__item">
								<div class="row no-gutters">
									<div class="col-3 col-sm-2 col-md-2 col-xl-2">
										<div class="mp-secondary__item-picture">
											<a href="#">
												<img src="img/products/options/first.png" alt="">
											</a>
										</div>
									</div>
									<div class="col-7 col-sm-5 col-md-4 col-xl-4">
										<div class="mp-secondary__item-desc">
											<a href="#">
												<span class="mp-secondary__item-heading">
													Чернила Revcol
												</span>
											</a>
											<div class="mp-secondary__item-subtitle">
												<p>Расходники для принтеров, Краски для принтера</p>
											</div>
										</div>
									</div>
									<div class="d-none d-sm-block col-sm-2 col-md-2 col-xl-2 special-offset">
										<div class="mp-secondary__item-price special-offset">
											<span>543 Р</span>
										</div>
									</div>
									<div class="col-1 col-md-2 col-xl-2 special-offset-second d-flex">
										<div class="mp-secondary__item-add">
											<div class="mp-secondary__add-button basket-btn" onclick="this.classList.toggle('active')">
												<span class="mp-secondary__add-button__svg"></span>
											</div>
											<!-- <img src="img/svg/light-add.svg" alt=""> -->
										</div>
									</div>
								</div>
							</div>
							<!-- item END-->
							<!-- item -->
							<div class="mp-secondary__item">
								<div class="row no-gutters">
									<div class="col-3 col-sm-2 col-md-2 col-xl-2">
										<div class="mp-secondary__item-picture">
											<a href="#">
												<img src="img/products/options/first.png" alt="">
											</a>
										</div>
									</div>
									<div class="col-7 col-sm-5 col-md-4 col-xl-4">
										<div class="mp-secondary__item-desc">
											<a href="#">
												<span class="mp-secondary__item-heading">
													Чернила Revcol
												</span>
											</a>
											<div class="mp-secondary__item-subtitle">
												<p>Расходники для принтеров, Краски для принтера</p>
											</div>
										</div>
									</div>
									<div class="d-none d-sm-block col-sm-2 col-md-2 col-xl-2 special-offset">
										<div class="mp-secondary__item-price special-offset">
											<span>543 Р</span>
										</div>
									</div>
									<div class="col-1 col-md-2 col-xl-2 special-offset-second d-flex">
										<div class="mp-secondary__item-add">
											<div class="mp-secondary__add-button basket-btn" onclick="this.classList.toggle('active')">
												<span class="mp-secondary__add-button__svg"></span>
											</div>
											<!-- <img src="img/svg/light-add.svg" alt=""> -->
										</div>
									</div>
								</div>
							</div>
							<!-- item END-->
							<!-- item -->
							<div class="mp-secondary__item">
								<div class="row no-gutters">
									<div class="col-3 col-sm-2 col-md-2 col-xl-2">
										<div class="mp-secondary__item-picture">
											<a href="#">
												<img src="img/products/options/first.png" alt="">
											</a>
										</div>
									</div>
									<div class="col-7 col-sm-5 col-md-4 col-xl-4">
										<div class="mp-secondary__item-desc">
											<a href="#">
												<span class="mp-secondary__item-heading">
													Чернила Revcol
												</span>
											</a>
											<div class="mp-secondary__item-subtitle">
												<p>Расходники для принтеров, Краски для принтера</p>
											</div>
										</div>
									</div>
									<div class="d-none d-sm-block col-sm-2 col-md-2 col-xl-2 special-offset">
										<div class="mp-secondary__item-price special-offset">
											<span>543 Р</span>
										</div>
									</div>
									<div class="col-1 col-md-2 col-xl-2 special-offset-second d-flex">
										<div class="mp-secondary__item-add">
											<div class="mp-secondary__add-button basket-btn" onclick="this.classList.toggle('active')">
												<span class="mp-secondary__add-button__svg"></span>
											</div>
											<!-- <img src="img/svg/light-add.svg" alt=""> -->
										</div>
									</div>
								</div>
							</div>
							<!-- item END-->
						</div>
						
						<div class="mp-secondary__button">
							<a href="#" class="blue-btn">Смотреть все запчасти</a>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 col-xl-6">
					<div class="mp-secondary__spares">
						<div class="mp-secondary__title">
							<span class="mp-secondary__heading">Запчасти</span>
						</div>
						<div class="mp-secondary__subtitle">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
						</div>
						<div class="mp-secondary__body">
							<!-- item -->
							<div class="mp-secondary__item">
								<div class="row no-gutters">
									<div class="col-3 col-sm-2 col-md-2 col-xl-2">
										<div class="mp-secondary__item-picture">
											<a href="#">
												<img src="img/products/options/first.png" alt="">
											</a>
										</div>
									</div>
									<div class="col-7 col-sm-5 col-md-4 col-xl-4">
										<div class="mp-secondary__item-desc">
											<a href="#">
												<span class="mp-secondary__item-heading">
													Чернила Revcol
												</span>
											</a>
											<div class="mp-secondary__item-subtitle">
												<p>Расходники для принтеров, Краски для принтера</p>
											</div>
										</div>
									</div>
									<div class="d-none d-sm-block col-sm-2 col-md-2 col-xl-2 special-offset">
										<div class="mp-secondary__item-price special-offset">
											<span>543 Р</span>
										</div>
									</div>
									<div class="col-1 col-md-2 col-xl-2 special-offset-second d-flex">
										<div class="mp-secondary__item-add">
											<div class="mp-secondary__add-button basket-btn" onclick="this.classList.toggle('active')">
												<span class="mp-secondary__add-button__svg"></span>
											</div>
											<!-- <img src="img/svg/light-add.svg" alt=""> -->
										</div>
									</div>
								</div>
							</div>
							<!-- item END-->
							<!-- item -->
							<div class="mp-secondary__item">
								<div class="row no-gutters">
									<div class="col-3 col-sm-2 col-md-2 col-xl-2">
										<div class="mp-secondary__item-picture">
											<a href="#">
												<img src="img/products/options/first.png" alt="">
											</a>
										</div>
									</div>
									<div class="col-7 col-sm-5 col-md-4 col-xl-4">
										<div class="mp-secondary__item-desc">
											<a href="#">
												<span class="mp-secondary__item-heading">
													Чернила Revcol
												</span>
											</a>
											<div class="mp-secondary__item-subtitle">
												<p>Расходники для принтеров, Краски для принтера</p>
											</div>
										</div>
									</div>
									<div class="d-none d-sm-block col-sm-2 col-md-2 col-xl-2 special-offset">
										<div class="mp-secondary__item-price special-offset">
											<span>543 Р</span>
										</div>
									</div>
									<div class="col-1 col-md-2 col-xl-2 special-offset-second d-flex">
										<div class="mp-secondary__item-add">
											<div class="mp-secondary__add-button basket-btn" onclick="this.classList.toggle('active')">
												<span class="mp-secondary__add-button__svg"></span>
											</div>
											<!-- <img src="img/svg/light-add.svg" alt=""> -->
										</div>
									</div>
								</div>
							</div>
							<!-- item END-->
							<!-- item -->
							<div class="mp-secondary__item">
								<div class="row no-gutters">
									<div class="col-3 col-sm-2 col-md-2 col-xl-2">
										<div class="mp-secondary__item-picture">
											<a href="#">
												<img src="img/products/options/first.png" alt="">
											</a>
										</div>
									</div>
									<div class="col-7 col-sm-5 col-md-4 col-xl-4">
										<div class="mp-secondary__item-desc">
											<a href="#">
												<span class="mp-secondary__item-heading">
													Чернила Revcol
												</span>
											</a>
											<div class="mp-secondary__item-subtitle">
												<p>Расходники для принтеров, Краски для принтера</p>
											</div>
										</div>
									</div>
									<div class="d-none d-sm-block col-sm-2 col-md-2 col-xl-2 special-offset">
										<div class="mp-secondary__item-price special-offset">
											<span>543 Р</span>
										</div>
									</div>
									<div class="col-1 col-md-2 col-xl-2 special-offset-second d-flex">
										<div class="mp-secondary__item-add">
											<div class="mp-secondary__add-button basket-btn" onclick="this.classList.toggle('active')">
												<span class="mp-secondary__add-button__svg"></span>
											</div>
											<!-- <img src="img/svg/light-add.svg" alt=""> -->
										</div>
									</div>
								</div>
							</div>
							<!-- item END-->
						</div>

						<div class="mp-secondary__button">
							<a href="#" class="blue-btn">Смотреть все запчасти</a>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id="hamcore-journal" class="hamcore-journal">
	<div class="container">		
		<div class="hamcore-journal__title d-flex flex-row align-items-center">
			<span class="hamcore-journal__heading">Новости и статьи</span>
			<div class="hamcore-journal__button ml-auto desktop">
				<a href="#">Смотреть все</a>
			</div>
		</div>
		<div class="hamcore-journal__wprapper">
			<!-- article card START -->
			<div class="hamcore-journal__article-card">
				<div class="row">
					<div class="col-12 col-md-7 col-lg-4 col-xl-4 d-flex">
						<div class="hamcore-journal__first cole">
							<div class="hamcore-journal__article-title">
								<a href="#">
									<span class="hamcore-journal__article-heading">Компания CANON запускает програмное обеспечение Printseght</span>
								</a>
							</div>
							<div class="hamcore-journal__article-tags">
								<ul>
									<li>#новости,</li>
									<li>#комания,</li>
									<li>#организация,</li>
								</ul>
							</div>
							<div class="hamcore-journal__article-publish-date">
								<span>Опубликованно: 21 Августа 2019 года</span>
							</div> 
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 d-flex order-md-last">
						<div class="cole">
							<div class="hamcore-journal__article-preview-text">
								<p>Canon Solutions America, Inc.  объявила о запуске нового программного обеспечения Océ PrintSight, разработанного компанией Canon Solutions America, чтобы предоставить компаниям, работающим с печатью, инструмент для мониторинга принтеров Océ Arizo <a href="#">Читать далее...</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5 col-lg-3 col-xl-3 d-flex no-l-padding order-lg-last">
						<div class="cole">
							<div class="hamcore-journal__atricle-preview desktop">
								<a href="#"><img src="img/journal/first.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- article card END -->
			<!-- article card START -->
			<div class="hamcore-journal__article-card">
				<div class="row">
					<div class="col-12 col-md-7 col-lg-4 col-xl-4 d-flex">
						<div class="hamcore-journal__first cole">
							<div class="hamcore-journal__article-title">
								<span class="hamcore-journal__article-heading">Компания CANON запускает програмное обеспечение Printseght</span>
							</div>
							<div class="hamcore-journal__article-tags">
								<ul>
									<li>#новости,</li>
									<li>#комания,</li>
									<li>#организация,</li>
								</ul>
							</div>
							<div class="hamcore-journal__article-publish-date">
								<span>Опубликованно: 21 Августа 2019 года</span>
							</div> 
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 d-flex order-md-last">
						<div class="cole">
							<div class="hamcore-journal__article-preview-text">
								<p>Canon Solutions America, Inc.  объявила о запуске нового программного обеспечения Océ PrintSight, разработанного компанией Canon Solutions America, чтобы предоставить компаниям, работающим с печатью, инструмент для мониторинга принтеров Océ Arizo <a href="#">Читать далее...</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5 col-lg-3 col-xl-3 d-flex no-l-padding order-lg-last">
						<div class="cole">
							<div class="hamcore-journal__atricle-preview desktop">
								<a href="#"><img src="img/journal/first.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- article card END -->
			<!-- article card START -->
			<div class="hamcore-journal__article-card">
				<div class="row">
					<div class="col-12 col-md-7 col-lg-4 col-xl-4 d-flex">
						<div class="hamcore-journal__first cole">
							<div class="hamcore-journal__article-title">
								<span class="hamcore-journal__article-heading">Компания CANON запускает програмное обеспечение Printseght</span>
							</div>
							<div class="hamcore-journal__article-tags">
								<ul>
									<li>#новости,</li>
									<li>#комания,</li>
									<li>#организация,</li>
								</ul>
							</div>
							<div class="hamcore-journal__article-publish-date">
								<span>Опубликованно: 21 Августа 2019 года</span>
							</div> 
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 d-flex order-md-last">
						<div class="cole">
							<div class="hamcore-journal__article-preview-text">
								<p>Canon Solutions America, Inc.  объявила о запуске нового программного обеспечения Océ PrintSight, разработанного компанией Canon Solutions America, чтобы предоставить компаниям, работающим с печатью, инструмент для мониторинга принтеров Océ Arizo <a href="#">Читать далее...</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5 col-lg-3 col-xl-3 d-flex no-l-padding order-lg-last">
						<div class="cole">
							<div class="hamcore-journal__atricle-preview desktop">
								<a href="#"><img src="img/journal/first.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- article card END -->
			<div class="col-12">
				<div class="hamcore-journal__button mobile d-flex align-items-center">
					<a href="#">Смотреть все</a>
				</div>
			</div>
		</div>

	</div>
</section>
<section id="second-infrastructure" class="second-infrastructure">
	<div class="container">
		<div class="second-infrastructure__title">
			<span class="second-infrastructure__heading">Компания и доставка</span>
		</div>
		<div class="second-infrastructure__wrapper">
			<div class="row">
				<div class="col-md-6 col-xl-3">
					<div class="second-infrastructure__card">
						<div class="second-infrastructure__card-title">
							<span class="second-infrastructure__card-heading">
								Доставляем товар в любую точку России
							</span>
						</div>
						<div class="second-infrastructure__subtitle">
							<p>Текстильный планшетный принтер нового покаления для печати на тканевых поверхностях</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-xl-3">
					<div class="second-infrastructure__card">
						<div class="second-infrastructure__card-title">
							<span class="second-infrastructure__card-heading">
								Возврат товара
							</span>
						</div>
						<div class="second-infrastructure__subtitle">
							<p>Текстильный планшетный принтер нового покаления для печати на тканевых поверхностях</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-xl-3">
					<div class="second-infrastructure__card">
						<div class="second-infrastructure__card-title">
							<span class="second-infrastructure__card-heading">
								Консультирование по покупке
							</span>
						</div>
						<div class="second-infrastructure__subtitle">
							<p>Текстильный планшетный принтер нового покаления для печати на тканевых поверхностях</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-xl-3">
					<div class="second-infrastructure__card">
						<div class="second-infrastructure__card-title">
							<span class="second-infrastructure__card-heading">
								Отмена доставки товара
							</span>
						</div>
						<div class="second-infrastructure__subtitle">
							<p>Текстильный планшетный принтер нового покаления для печати на тканевых поверхностях</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</main>


<%= _.template(require('./../includes/footer.html'))() %>