<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>

<section id="payment-page" class="payment-page">
	<div class="container">
		<div class="payment-page__intro">
			<span class="payment-page__title">
				Оплата
			</span>
			<div class="payment-page__subtitle">
				<p>
					Ознакомтесь с подробной информацией <br>
					и способами оплаты на сайте 
				</p>
			</div>
		</div>
		<div class="payment-page__type-of">
			<!-- Payment card  -->
			<div class="payment-type">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div class="payment-type__body d-flex flex-column flex-md-row">
							<div class="payment-type__picture">
								<img src="img/items/delivery.png" alt="">
							</div>
							<div class="payment-type__intro d-flex flex-column">
								<div class="payment-type__heading">
									<span class="payment-type__title">
										Безналичный расчет 	
									</span>
								</div>
								<div class="payment-type__subtitle">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Payment card  -->
			<div class="payment-type">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div class="payment-type__body d-flex flex-column flex-md-row">
							<div class="payment-type__picture">
								<img src="img/items/delivery.png" alt="">
							</div>
							<div class="payment-type__intro d-flex flex-column">
								<div class="payment-type__heading">
									<span class="payment-type__title">
										Платежные системы 	
									</span>
								</div>
								<div class="payment-type__subtitle">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Payment card  -->
			<div class="payment-type">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div class="payment-type__body d-flex flex-column flex-md-row">
							<div class="payment-type__picture">
								<img src="img/items/delivery.png" alt="">
							</div>
							<div class="payment-type__intro d-flex flex-column">
								<div class="payment-type__heading">
									<span class="payment-type__title">
										Банковской картой 	
									</span>
								</div>
								<div class="payment-type__subtitle">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Payment card  -->
			<div class="payment-type">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div class="payment-type__body d-flex flex-column flex-md-row">
							<div class="payment-type__picture">
								<img src="img/items/delivery.png" alt="">
							</div>
							<div class="payment-type__intro d-flex flex-column">
								<div class="payment-type__heading">
									<span class="payment-type__title">
										Возврат товаров 	
									</span>
								</div>
								<div class="payment-type__subtitle">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>

<%= _.template(require('./../includes/footer.html'))() %>