<%= _.template(require('./../includes/second-header.html'))() %>

<div class="second-header"></div>
<section id="regpay-page" class="regpay-page">
	<div class="container">
		<div class="reg-info__menu">
			<div class="row">
				<div class="col-xl-12">
					<ul class="nav" id="myTab" role="tablist">
					  <li class="nav-item basket-page__menu-item">
					    <a class="nav-link active basket-page__link" id="my-basket-tab" data-toggle="tab" href="#reg-info" role="tab" aria-controls="my-basket" aria-selected="true">Заполнение данных</a>
					  </li>
					  <li class="nav-item basket-page__menu-item">
					    <a class="nav-link basket-page__link" id="basket-favorite-tab" data-toggle="tab" href="#paying-order" role="tab" aria-controls="basket-favorite" aria-selected="false">Оплата заказа</a>
					  </li>
					  <li class="nav-item basket-page__menu-item">
					    <a class="nav-link basket-page__link" id="my-orders-tab" data-toggle="tab" href="#congratulations" role="tab" aria-controls="my-orders" aria-selected="false">Заказ успешно совершен</a>
					  </li>
					</ul>					
				</div>
			</div>
		</div>
		<div class="basket-page__body">
			<div class="tab-content reg-info__tab-content" id="myTabContent">
				<!-- tab -->
				<div class="tab-pane fade show active my-basket__tab" id="reg-info" role="tabpanel" aria-labelledby="my-basket-tab">
					<div class="reg-info">
						<div class="row">
							<div class="col-xl-5">
								<div class="reg-info__registration">
									<div class="reg-info__heading">
										<span class="reg-info__main-title">
											Оформление заказа
										</span>
									</div>
									<div class="reg-info__form">
										<form action="">
											<div class="reg-info__form-item d-flex flex-column">
												<label for="signUpName">ФИО <span class="small-desk">(как в паспорте)</span></label>
				    							<input type="text" class="sign-up__input" id="regInfoName" placeholder="Александр">
											</div>
											<div class="reg-info__form-item d-flex flex-column">
												<label for="signUpName">Телефон</label>
				    							<input type="text" class="sign-up__input" id="regInfoPhone" placeholder="+7 (967) 644-28-89">
											</div>
											<div class="reg-info__form-item d-flex flex-column">
												<label for="signUpEmail">E-mail</label>
				    							<input type="email" class="sign-up__input" id="regInfoEmail" aria-describedby="emailHelp" placeholder="info@hamkore.ru">
											</div>
											<div class="reg-info__form-item d-flex flex-column">
												<label for="signUpName">Город</label>
				    							<input type="text" class="sign-up__input" id="regInfoCity" placeholder="Москва">
											</div>
											<div class="reg-info__form-item d-flex flex-column">
												<label for="signUpName">Адрес доставки</label>
				    							<input type="text" class="sign-up__input" id="regInfoAddress" placeholder="проспект Академика Сахарова">
											</div>
											<div class="reg-info__form-special-item d-flex flex-row">
												<input type="checkbox" aria-label="Checkbox for following text input">
												<label for="signUpName">Перезвонить мне и рассказать подробности</label>
											</div>
											<div class="reg-info__form-item">
												<div class="sign-up__buttons d-flex flex-row align-items-center">
													<a class="sign-up__enter" href="#">
														<span>Продолжить</span>
														<img src="img/svg/btn-arrow.svg" alt="">
													</a>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-xl-6 offset-xl-1">
								<div class="reg-info__added">
									<div class="reg-info__heading">
										<span class="reg-info__second-title">
											Товары в заказе
										</span>
									</div>
								</div>
								<div class="reg-info__body">
									<!-- reg info item -->
									<div class="reg-info__item">
										<div class="row">
											<div class="col-4 col-md-2 col-xl-2 d-flex align-items-center">
												<div class="reg-info__picture">
													<img src="img/products/first.png" alt="">
												</div>
											</div>
											<div class="col-7 col-md-4 col-lg-3 col-xl-4 d-flex align-items-center">
							  					<div class="reg-info__heading d-flex flex-column">
							  						<span class="reg-info__title">Hamcoke Brookesia</span>
							  						<span class="reg-info__subtitle">Принтер, Текстильный</span>
							  					</div>
							  				</div>
							  				<div class="col-5 col-md-3 col-lg-2 col-xl-3 d-flex align-items-center">
							  					<div class="reg-info__item-info d-flex flex-column">
							  						<span class="reg-info__price-title">Цена</span>
							  						<span class="reg-info__price">
							  							130 000
							  							<img class="svg-ruble" src="img/svg/ruble.svg" alt="">
							  						</span>
							  					</div>
							  				</div>
							  				<div class="col-7 col-md-1 col-lg-3 col-xl-3 d-flex align-items-center">
							  					<div class="reg-info__counter d-flex flex-column">
							  						<span class="reg-info__subtitle">Шт</span>
							  						<span class="reg-info__count">1</span>
							  					</div>
							  				</div>
										</div> 
									</div>
									<!-- reg info item END --> 
									<!-- reg info item -->
									<div class="reg-info__item">
										<div class="row">
											<div class="col-4 col-md-2 col-xl-2 d-flex align-items-center">
												<div class="reg-info__picture">
													<img src="img/products/first.png" alt="">
												</div>
											</div>
											<div class="col-7 col-md-4 col-lg-3 col-xl-4 d-flex align-items-center">
							  					<div class="reg-info__heading d-flex flex-column">
							  						<span class="reg-info__title">Hamcoke Brookesia</span>
							  						<span class="reg-info__subtitle">Принтер, Текстильный</span>
							  					</div>
							  				</div>
							  				<div class="col-5 col-md-3 col-lg-2 col-xl-3 d-flex align-items-center">
							  					<div class="reg-info__item-info d-flex flex-column">
							  						<span class="reg-info__price-title">Цена</span>
							  						<span class="reg-info__price">
							  							130 000
							  							<img class="svg-ruble" src="img/svg/ruble.svg" alt="">
							  						</span>
							  					</div>
							  				</div>
							  				<div class="col-7 col-md-1 col-lg-3 col-xl-3 d-flex align-items-center">
							  					<div class="reg-info__counter d-flex flex-column">
							  						<span class="reg-info__subtitle">Шт</span>
							  						<span class="reg-info__count">1</span>
							  					</div>
							  				</div>
										</div> 
									</div>
									<!-- reg info item END --> 
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- tab -->
				<div class="tab-pane fade show my-basket__tab" id="paying-order" role="tabpanel" aria-labelledby="basket-favorite-tab">
					<div class="basket-favorite">
						¯\_(ツ)_/¯
					</div>
				</div>
				<!-- tab -->	
				<div class="tab-pane fade show my-basket__tab" id="congratulations" role="tabpanel" aria-labelledby="basket-favorite-tab">
					<div class="basket-orders">
						<div class="grac-basket">
							<div class="reg-info__grac">
								Ваш заказ успешно совершен
							</div>
							<div class="reg-info__pic">
								<img src="img/items/2.png" alt="">
							</div>
							<div class="empty-basket__subtitle">
								<p>
									В данный момент мы обрабатываем ваш заказ, когда мы его <br> отправим на странице <a href="#">мои заказы</a> появится трек номер <br> отслеживания по которому вы сможете проследить за посылкой
									
								</p>
							</div>
							<div class="basket-btn">
								<a href="#">Мои заказы</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= _.template(require('./../includes/footer.html'))() %>


