@import "./style/fonts";
@import "~bootstrap/scss/bootstrap";
@import "./style/var";
@import '~fancybox/dist/css/jquery.fancybox.css';
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';
@import './style/_animate';
@import "./style/main";


